.pg{
    height: 600px;
    width: 600px;
    background-color: wheat;
    padding-left: 50px;

    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;


    
    

}
.pg1{
    /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 600px;
  
  background-color: azure;
  border-radius: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  


}
.pg2{
    display: flex; 
   justify-content: center; 
   align-items: center;
   height: 150px;
   background-color: darkgray;
   border-radius: 10px;

  

}
.pg3{
  /* background-color: green; */
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}
 .pg4{
  /* background-color: blue; */
  height: 25%;
 
 }
 .pg5{
  /* background-color: antiquewhite; */
  height: 25%;
 
 }
 .pg6{
  /* background-color:aliceblue; */
  height: 25%;
 
 }
 .pg7{
  /* background-color:black; */
  height: 25%;
 
 }
.button{
  height: 100%;
  width: 32.858%;
}
